@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif; }

.container {
  width: 100%;
  min-height: 100vh;
  background-image: url(../images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: grid;
  place-items: center;
  overflow: hidden; }
  @media (max-width: 768px) {
    .container {
      background-image: none;
      background-color: #e0e8ff; } }
  .container .card {
    width: 300px;
    border-radius: 15px;
    background-color: #fff;
    border: 1px none;
    overflow: hidden;
    box-shadow: 0 20px 10px rgba(5, 94, 129, 0.219), inset 5px 5px 3px #ddd, inset -5px -5px 3px rgba(51, 51, 51, 0.61); }
    @media (min-width: 1440px) {
      .container .card {
        width: 400px; } }
    .container .card .hero {
      position: relative;
      overflow: hidden; }
      .container .card .hero::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        z-index: 0;
        box-shadow: inset 5px 5px 3px rgba(255, 255, 255, 0.363), inset -5px 0px 3px rgba(51, 51, 51, 0.445); }
      .container .card .hero img {
        width: 100%;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        transform: scale(1.05); }
      .container .card .hero:hover img {
        transition: .5s; }
    .container .card .summary {
      padding: 1.6em;
      text-align: center; }
      .container .card .summary h2 {
        margin-bottom: .5em;
        color: #1f2f56;
        font-weight: 900; }
      .container .card .summary p {
        color: #7280a7; }
    .container .card .plan {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: .5em auto;
      width: 90%;
      border-radius: 10px;
      border: none;
      background-color: #f5f7ff;
      padding: 1em .5em;
      box-shadow: inset 3px 3px 4px rgba(221, 221, 221, 0.349), inset -3px -3px 4px rgba(0, 0, 0, 0.26); }
      .container .card .plan .price-plan {
        flex-basis: 60%;
        display: flex;
        gap: 1em;
        border: none; }
        .container .card .plan .price-plan .price p {
          font-size: .9em;
          font-weight: 900;
          margin-bottom: .2em;
          color: #1f2f56; }
          .container .card .plan .price-plan .price p span {
            color: #7280a7;
            font-weight: 500; }
      .container .card .plan .change {
        align-content: flex-end; }
        .container .card .plan .change a {
          color: #fff;
          background-color: #3829e0;
          padding: .2em .5em;
          border-radius: 10px;
          font-weight: 600;
          font-size: .9em;
          text-decoration: none;
          display: block;
          position: relative;
          transition: .2s; }
          .container .card .plan .change a::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            box-shadow: inset 2px 2px 3px #ddda, inset -2px -2px 3px #000a; }
          .container .card .plan .change a:hover {
            background-color: #f5f7ff;
            color: #7280a7; }
          .container .card .plan .change a:active {
            transition: .2s;
            transform: scale(0.9); }
    .container .card .payment {
      margin: 1em;
      display: grid;
      gap: 1em; }
      .container .card .payment button {
        cursor: pointer;
        transition: .2s;
        border: none;
        outline: none; }
      .container .card .payment #proceed {
        background-color: #3829e0;
        color: #fff;
        border-radius: 10px;
        box-shadow: 0 5px 20px #7280a7;
        padding: 1em;
        font-weight: 600;
        position: relative;
        letter-spacing: .1em; }
        .container .card .payment #proceed::before, .container .card .payment #proceed::after {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 10px;
          transition: .2s ease; }
        .container .card .payment #proceed::before {
          box-shadow: inset 2px 2px 4px #fffa, inset -2px -2px 4px #000a; }
        .container .card .payment #proceed::after {
          opacity: 0;
          box-shadow: inset 2px 2px 4px #000a, inset -2px -2px 4px #ddda; }
        .container .card .payment #proceed:hover {
          box-shadow: none;
          background-color: #7280a7; }
          .container .card .payment #proceed:hover::before {
            opacity: 0; }
          .container .card .payment #proceed:hover::after {
            opacity: 1; }
        .container .card .payment #proceed:active {
          transition: .2s;
          transform: scale(0.9); }
      .container .card .payment #cancel {
        font-weight: 600;
        border: none;
        outline: none;
        width: auto;
        padding: .2em 1em;
        margin: .3em auto;
        color: #7280a7;
        background-color: #fff;
        position: relative; }
        .container .card .payment #cancel:before {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: .3s;
          border-radius: 10px;
          box-shadow: inset 2px 2px 4px #333a, inset -2px -2px 4px #ddd; }
        .container .card .payment #cancel:hover {
          color: #1f2f56; }
          .container .card .payment #cancel:hover::before {
            opacity: 1; }
