@import 'variables';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}
.container {
    width: 100%;
    min-height: 100vh;
    background-image: url(../images/pattern-background-desktop.svg);
   
    @media (max-width: 768px ){
        background-image: url(../images/pattern-background-mobile.svg);
        background-size: cover;
    }
    display: grid;
    place-items: center;

    .card {
        width: 300px;
        @media (min-width: 1440px){
            width: 400px;
        }



        border-radius: 15px;
        background-color: #fff;
        border: 1px none;
        overflow: hidden;
        box-shadow: 0 15px 20px $neutral-desaturated-blue,
                    inset 5px 5px 5px #ddd,
                    inset -5px -5px 5px #333a;

        .hero {
            img {
                width: 100%;
            }
        }
        .summary {
            padding: 1.6em;
            text-align: center;

            h2 {
                margin-bottom: .5em;
                color: $neutral-dark-blue;
            }

            p {
                color: $neutral-desaturated-blue;

            }
        }

        .plan {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: .5em auto;
            width: 90%;
            border-radius: 10px;
            border: none;
            background-color: $neutral-pale-blue;
            padding: 1em .5em;
            .price-plan {
                flex-basis: 60%;
                display: flex;
                gap: 1em;
                border: none;
                .price {
                    p {
                        font-size: .9em;
                        font-weight: 900;
                        margin-bottom: .2em;
                        color: $neutral-dark-blue;

                        span {
                            color:$neutral-desaturated-blue;
                            font-weight: 500;
                        }
                    }
                }
            }

            .change {
                align-content: flex-end;

                a {
                    color: $primary-blue-bright;
                    font-weight: 600;
                    &:hover {
                        color: $neutral-desaturated-blue;
                    }
                }
                
            }

        }
        .payment {
            margin: 1em;
            display: grid;
            gap: 1em;

            button {
                cursor: pointer;
                transition: .2s;
                border: none;
                outline: none;
            }

            #proceed {
                background-color: $primary-blue-bright;
                color: #fff;
                border-radius: 15px;
                box-shadow: 0 5px 20px $neutral-desaturated-blue;
                padding: 1em ;
                font-weight: 600;
                position: relative;

                &::before,
                &::after {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 15px;
                    transition: .2s ease;
                }
                &::before {
                    box-shadow: inset 2px 2px 4px #fffa,
                                inset -2px -2px 4px #000a;
                }
                &::after {
                    opacity: 0;
                    box-shadow: inset 2px 2px 4px #000a,
                                inset -2px -2px 4px #ddda;
                }
                &:hover {
                    &::before {opacity: 0;}
                    &::after {opacity: 1;}
                    background-color: $neutral-desaturated-blue;
                }
                &:active {
                    transition: .2s;
                    transform: scale(.9);
                }

            }
            #cancel {
                font-weight: 600;
                border: none;
                outline: none;
                color: $neutral-desaturated-blue;
                background-color: #fff;

                &:hover {
                    color: $neutral-dark-blue;
                }
            }
        }
    }
    
    
    overflow: hidden;
}