@import 'variables';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}
.container {
    width: 100%;
    min-height: 100vh;
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    @media (max-width: 768px ){
        background-image: none;
        background-color: $primary-blue-pale;
    }
    display: grid;
    place-items: center;

    .card {
        width: 300px;
        @media (min-width: 1440px){
            width: 400px;
        }



        border-radius: 15px;
        background-color: #fff;
        border: 1px none;
        overflow: hidden;
        box-shadow: 0 20px 10px rgba(5, 94, 129, 0.219),
                    inset 5px 5px 3px #ddd,
                    inset -5px -5px 3px rgba(51, 51, 51, 0.61);

        .hero {
            position: relative;
            &::after {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-top-right-radius: 15px;
                border-top-left-radius: 15px;
                z-index: 0;
                box-shadow: inset 5px 5px 3px rgba(255, 255, 255, 0.363),
                            inset -5px 0px 3px rgba(51, 51, 51, 0.445);
            }
            img {
                width: 100%;
            }
        }
        .summary {
            padding: 1.6em;
            text-align: center;

            h2 {
                margin-bottom: .5em;
                color: $neutral-dark-blue;
                font-weight: 900;
            }

            p {
                color: $neutral-desaturated-blue;
                
            }
        }

        .plan {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: .5em auto;
            width: 90%;
            border-radius: 10px;
            border: none;
            background-color: $neutral-pale-blue;
            padding: 1em .5em;
            box-shadow: inset 3px 3px 4px rgba(221, 221, 221, 0.349),
                        inset -3px -3px 4px rgba(0, 0, 0, 0.26);
            .price-plan {
                flex-basis: 60%;
                display: flex;
                gap: 1em;
                border: none;
                .price {
                    p {
                        font-size: .9em;
                        font-weight: 900;
                        margin-bottom: .2em;
                        color: $neutral-dark-blue;

                        span {
                            color:$neutral-desaturated-blue;
                            font-weight: 500;
                        }
                    }
                }
            }

            .change {
                align-content: flex-end;


                a {
                    color: $text-light;
                    background-color: $primary-blue-bright;
                    padding: .2em .5em;
                    border-radius: 10px;
                    font-weight: 600;
                    font-size: .9em;
                    text-decoration: none;
                    display: block;
                    position: relative;
                    transition: .2s;
                    &::before {
                        position: absolute;
                        content: '';
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                        box-shadow: inset 2px 2px 3px #ddda,
                                    inset -2px -2px 3px #000a;
                    }
                    &:hover {
                        background-color: $neutral-pale-blue;
                        color: $neutral-desaturated-blue;
                    }
                    &:active {
                        transition: .2s;
                        transform: scale(.9);
                    }
                }
                
            }

        }
        .payment {
            margin: 1em;
            display: grid;
            gap: 1em;

            button {
                cursor: pointer;
                transition: .2s;
                border: none;
                outline: none;
            }

            #proceed {
                background-color: $primary-blue-bright;
                color: #fff;
                border-radius: 10px;
                box-shadow: 0 5px 20px $neutral-desaturated-blue;
                padding: 1em ;
                font-weight: 600;
                position: relative;
                letter-spacing: .1em;

                &::before,
                &::after {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    transition: .2s ease;
                }
                &::before {
                    box-shadow: inset 2px 2px 4px #fffa,
                                inset -2px -2px 4px #000a;
                }
                &::after {
                    opacity: 0;
                    box-shadow: inset 2px 2px 4px #000a,
                                inset -2px -2px 4px #ddda;
                }
                &:hover {
                    box-shadow: none;
                    &::before {opacity: 0;}
                    &::after {opacity: 1;}
                    background-color: $neutral-desaturated-blue;
                }
                &:active {
                    transition: .2s;
                    transform: scale(.9);
                }

            }
            #cancel {
                font-weight: 600;
                border: none;
                outline: none;
                width:auto;
                padding: .2em 1em;
                margin: .3em auto;
                color: $neutral-desaturated-blue;
                background-color: #fff;
                position: relative;

                &:before {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    transition: .3s;
                    border-radius: 10px;
                    box-shadow: inset 2px 2px 4px #333a,
                                inset -2px -2px 4px #ddd;
                }
                &:hover {
                    color: $neutral-dark-blue;
                    &::before {
                        opacity: 1;
                    }
                }
            }
        }
    }
    
    
    overflow: hidden;
}